@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'react-toastify/dist/ReactToastify.css';

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Outfit', sans-serif;
	@apply bg-gray-900;
	img {
		pointer-events: none;
	}
}

:root {
	--primary-color: #e30b13;
}

input[type='file'],
input[type='file'] ::-webkit-file-upload-button {
	@apply cursor-pointer focus:outline-none;
}

input {
	box-shadow: none !important ;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #101215 inset !important;
}
input:-webkit-autofill {
	-webkit-text-fill-color: #66676e !important;
}

::-webkit-scrollbar {
	width: 2px;
}
::-webkit-scrollbar-track {
	background-color: #191b1f;
}
::-webkit-scrollbar-thumb {
	background-color: #242529;
}

.admin-form {
	@apply w-1/2 mt-12;
}

/* Slide animation */
.slide-animation-enter {
	opacity: 0;
	transform: scale(0.9);
}
.slide-animation-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition:
		opacity 400ms,
		transform 400ms;
}
.slide-animation-exit {
	opacity: 1;
}
.slide-animation-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition:
		opacity 400ms,
		transform 400ms;
}
